# Server
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pocketflow
DB_USER=postgres
DB_PASSWORD=em1223399637

JWT_SECRET=pocketflow_secret_key_2024
JWT_EXPIRES_IN=7d
PORT=3000

# CORS - cho phép React Native app kết nối
# Để trống để cho phép tất cả (chỉ dùng khi development)
CORS_ORIGIN=*
